.font-primary {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
      font-family: 'Inter', sans-serif;
      background-color: #f8f9fa;
      position: relative;
      /* overflow: hidden; */
    }

  /* Background logo */
body::before {
  content: "";
  position: fixed; /* stays fixed to viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("img/logo.png") no-repeat center/contain;
  opacity: 0.05; /* faint transparency */
  z-index: -1; /* behind all content */
  pointer-events: none;
}